{% extends 'account/base.html' %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}

<div class="container my-3 p-3">
    <div class="flex justify-center">
        <div class="lg:w-1/2">
            <div class="bg-white shadow-lg border-0 rounded-lg mt-0 mb-3">
                <div class="bg-blue-100 border-t-4 border-blue-500 rounded-b text-blue-900 px-4 py-3 shadow-md">
                    Your password has been set. You may go ahead and <a href="{% url 'account:login' %}" class="text-blue-700 underline">Login Here</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}